/* body */

body {
  font-family: sans-serif;
  background-color: #f0f0f0;
}

.headings {
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
}

header {
  color: white;
  background-color: #562a81;
  padding: 10px;
}

img {
  border-radius: 5px;
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}

.image-container {
  height: 350px;
}

label {
  display: block;
  font-weight: bold;
}

textarea {
  font-size: 18px;
}

#title {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.txtbox {
  outline-color: lightgray;
  border: 1px solid lightgray;
}

#photourl {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}

.notes-section {
  margin-top: 10px;
}

.notes {
  width: 100%;
  height: 230px;
  border-radius: 5px;
}

.notestxt {
  font-size: 5mm;
  margin-bottom: 10px;
  margin-top: 10px;
}

.save-button {
  position: relative;
  left: 90%;
  margin-top: 10px;
}

.button {
  color: white;
  background-color: #562a81;
  border-radius: 5px;
  padding: 5px 15px;
}

.notes:focus {
  outline-color: #562a81;
}

ul {
  list-style-type: none;
}

li {
  margin: 10px;
}

.form-tab {
  padding: 0.75rem 0;
  cursor: pointer;
  font-size: 1.25rem;
}

.entry-tab {
  padding: 0.95rem 1.5rem 0.5rem;
  cursor: pointer;
}

.space-between {
  justify-content: space-between;
}

.align-items {
  align-items: baseline;
}

.new-button {
  padding: 0 10px;
  width: 70px;
  height: 35px;
  position: relative;
  bottom: 12px;
}

a {
  text-decoration: none;
  color: white;
}

.edit-icon {
  color: purple;
}
